<div class="hidden-print" role="complementary">
  <div class="list-group ws-service-list-group">
    <a href="#" class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <i class="glyphicon glyphicon-envelope"></i>
        </div>
        <div class="col-md-9">
          <h4 class="list-group-item-heading">Versandkostenfrei</h4>
          <p class="list-group-item-text">Wir liefern Ihre Bestellung kostenlos in 3 Werktagen </p>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <i class="glyphicon glyphicon-sampler"></i>
        </div>
        <div class="col-md-9">
          <h4 class="list-group-item-heading">Kostenlose Muster</h4>
          <p class="list-group-item-text">Vergleichen Sie bis zu 10 Muster Zuhause</p>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <i class="glyphicon glyphicon-earphone"></i>
        </div>
        <div class="col-md-9">
          <h4 class="list-group-item-heading">Beratung vom Profi</h4>
          <p class="list-group-item-text">Telefon, Online-Chat oder per E-Mail</p>
        </div>
      </div>
    </a>
  </div>
</div>