<div class="cvv" data-hook>
  <h1><%= Spree.t(:what_is_a_cvv) %></h1>
  <p>Zu Ihrem Schutz und Ihrer eigenen Sicherheit werden Sie aufgefordert, Ihre Kreditkartenprüfnummer
    einzugeben. Die Prüfnummer soll die Nutzung von gefälschten oder gestohlenen Kreditkartenangaben erschweren.</p>
 <h2>Hier finden Sie die Nummer auf Ihrer Karte:</h2>

  <dl>
    <dt>Visa/MasterCard/Discover</dt>
    <dd><%= image_tag 'credit_cards/other_cid.jpg' %></dd>
    <dt>American Express</dt>
    <dd><%= image_tag 'credit_cards/amex_cid.jpg' %>></dd>
  </dl>

</div>
