<p>Wenn Ihre Bestellung bei uns eingegangen ist, schicken wir Ihnen eine Auftragsbestätigung mit den Daten zur Zahlung per E-Mail zu.
Sobald das Geld auf unserem Konto eingegangen ist, wird Ihre Bestellung verschickt.</p>
<p class="text-warning">Hinweis: Der Liefertermin bei dieser Zahlungsart ist abhängig vom Zahlungseingang!</p>