<strong>Mit PayPal schnell, einfach und sicher bezahlen.</strong>
<p>Klicken Sie einfach auf den Direkt zu PayPal-Button.</p>
<p>Sie werden automatisch auf die PayPal-Seite weitergeleitet, um die Zahlung dort durchzuführen. Haben Sie die Zahlung bei PayPal bestätigt,
werden Sie wieder auf meinwohnstore.de geleitet wo Sie die Bestellung verbindlich bestätigen.<p>

<div class="text-center"><%= link_to(image_tag(image_path('checkout-logo-medium-de.png')), paypal_express_url(:payment_method_id => payment_method.id), :id => "paypal_button") %></div>

<script>
  SpreePaypalExpress.paymentMethodID = "<%= payment_method.id %>";
  var hideContinueOnIds = hideContinueOnIds || [];
  hideContinueOnIds.push('<%= payment_method.id %>');
</script>