@font-face {
  font-family: 'MetaLight';
  src:   font-url('MetaWebPro-Light.eot');
  src:   font-url('MetaWebPro-Light.eot?#iefix') format('embedded-opentype'),
  font-url('MetaWeb-Normal.svg#MetaNormal') format('svg'),
  font-url('MetaWebPro-Light.woff') format('woff');
}

@font-face {
  font-family: 'MetaNormal';
  src:   font-url('MetaWeb-Normal.eot');
  src:   font-url('MetaWeb-Normal.eot?#iefix') format('embedded-opentype'),
  font-url('MetaWeb-Normal.svg#MetaNormal') format('svg'),
  font-url('MetaWeb-Normal.woff') format('woff');
}

@font-face {
  font-family: 'MetaMedium';
  src:   font-url('MetaWeb-Medium.eot');
  src:   font-url('MetaWeb-Medium.eot?#iefix') format('embedded-opentype'),
  font-url('MetaWeb-Medium.svg#MetaMedium') format('svg'),
  font-url('MetaWeb-Medium.woff') format('woff');
}

@font-face {
  font-family: 'MetaBold';
  src:   font-url('MetaWeb-Bold.eot');
  src:   font-url('MetaWeb-Bold.eot?#iefix') format('embedded-opentype'),
  font-url('MetaWeb-Bold.svg#MetaBold') format('svg'),
  font-url('MetaWeb-Bold.woff') format('woff');
}

// Core variables and mixins
//@import "bootstrap/variables";
@import "ws-variables";
@import "paymentfont";

@import "pagination-arrows";

//$screen-xxs:                  520px !default;
//$screen-xxs-min:              $screen-xxs !default;
//$carousel-indicator-inverted-active-bg:                $brand-primary !default;
//$carousel-indicator-inverted-border-color:             $gray-light !default;
//$screen-xxxs:                  359px !default;
//$screen-xxxs-min:              $screen-xxxs !default;
//$font-family-sans-serif-medium:  "MetaMedium", Helvetica, Arial, sans-serif !default;
//$foreground:             #fff !default;

@import "bootstrap/mixins";

// Reset
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";

th.no-border, td.no-border { border: none!important; }

@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
// @import "bootstrap/glyphicons";

@import "glyphicons-pro"; //additional glyphicons

.glyphicon-white, .glyphicon-white a {
  color: #fff;
}

.glyphicon-yellow, .glyphicon-yellow a {
  color: $brand-warning;
}


.flooring-icon, .color-icon {
  width: 50px;
  height: 50px;
}

.properties.panel .panel-heading {
  small {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 75%;
    color: #000;
  }
  margin-bottom: 0px;
}

.properties.panel.preis .list-group-item { padding: 10px 20px 5px;  }

.icon_list .list-group-item {
  .badge {
    position: absolute;
    right: 8px;
    top: 5px;
  }
}

.icon_list .list-group-item {
  border-width: 0!important;
  color: #999!important;
  padding-bottom: 0;
  font-size: 11px;
  .flooring-icon {
    fill: #999;
  }
}

.icon_list .list-group-item.active {
  background: #fff!important;
  border-bottom-width: 0!important;
  .badge {
    color: #fff;
    background:$brand-primary;
  }
  .flooring-icon {
    fill: $brand-primary;
  }
}

.icon_list .list-group-item.disabled {
  color: #999;
  .flooring-icon {
    fill: #999;
  }
}

@import "bootstrap/dropdowns";

#ws-user-nav .dropdown-menu {
  z-index: 2000;
}

@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";

@import "triangle";

.navbar-inverse .navbar-nav > li {
  &.active {@include box-shadow(0px 0px 6px rgba(0, 0, 0, .175));}
  & > a {
    font-size: 19px;
    &:hover {
      @include box-shadow(0 6px 6px rgba(0, 0, 0, .175));
      z-index: $zindex-popover;
    }
    @media (min-width: $screen-md-min) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}

.navbar {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  margin-bottom: 15px;
}

.navbar .nav.ws-angebote {
  border-left: 1px dashed $brand-primary;
  .triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 35px 35px 0;
    border-color: transparent #ec6521 transparent transparent;
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";

#paginator {
  margin: 12px 0;
  .pagination {
    margin-top: 0;
  }

  .entries-info {
    text-align: right;
    margin-top: 8px;
  }
}

@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

#ws-start-carousel {
  margin-bottom: 30px;
}

.carousel-inner .item img {
  @include box-shadow(0 2px 3px rgba(0,0,0,.175));
}

.carousel-control {
  span {
    display: block;
    width: 31px;
    height: 58px;
    background: asset-url('ws-sprite.png');
    top: 50%;
    position: relative;
    margin-top: -29px;
  }
  background-repeat: no-repeat!important;
  @media (max-width: $screen-xxs-min) {
    background-size: 70%;
  }
  width: 11%;
  filter: none!important;
  &:focus, &:hover {
    outline: none;
  }
  &:focus { @include opacity($carousel-control-opacity); }
  &:hover { @include opacity(.9); }
  &.left {
    background: none;
    span {
      background-position: -207px -11px;
      float: left;
      margin-left: 20px;
      @media (max-width: $screen-lg-min) {
        #background-position: right center;
      }
    }
  }
  &.right {
    background: none;
    span {
      background-position: -239px -11px;
      float: right;
      margin-right: 20px;
      @media (max-width: $screen-lg-min) {
        #background-position: left center;
      }
    }
  }
}

.carousel-indicators {
  bottom: -45px;
  li {
    width:  9px;
    height: 9px;
    border: 2px solid $carousel-indicator-inverted-border-color;
    margin: 2px;
  }
  .active {
    margin: 2px;
    width:  9px;
    height: 9px;
    background-color: $carousel-indicator-inverted-active-bg;
    border: none;
  }
}

.ws-carousel-slides {
  text-align: center;
  .carousel-inner {
    .item { padding-bottom: 5px; }
    img {
      @include center-block();
      border: 5px solid white;
      border-radius: 3px;
    }
  }
}

.ws-indicator {
  position: absolute;
  top: 60%;
  @media (max-width: $screen-lg-min) {
    top: 70%;
  }
  left: 70%;
  .popover {
    min-width: 300px;
  }
  .ws-indicator-spot {
    color: white;
    font-size: 18px;
    cursor: pointer;
    background: $navbar-inverse-bg;
    border: 5px solid white;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    padding: 8px 0 0 2px;
    @media (max-width: $grid-float-breakpoint) {
      width: 30px;
      height: 30px;
      padding: 2px;
      border: 4px solid white;
      font-size: 14px;
    }
  }
}

.cssgradients .ws-indicator .ws-indicator-spot {
  //#gradient > .vertical($gray; $gray-darker);
}


// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

body {
  position: relative; /* For scrollyspy */
  padding-top: 8px;
  font-size: 14px;
}

#logo > a {
  float: left;
}

.brand {
  display: block;
  width: 228px;
  height: 118px;
  background: url('wohnstore-logo.png');
  @media (max-width: $grid-float-breakpoint) {
    width: 198px;
    height: 102px;
    background: url('wohnstore-logo-xs.png');
    float: left;
  }
}

#ws-head-toprow {
  margin-bottom: 6px;
}

.ws-service-list {
  margin-bottom: 0;
  li {
    margin-right: 10px;
    letter-spacing: -0.0006em;
    i { margin-right: 5px; }
  }
  li:last-child {
    margin-right: 0;
    padding-right: 0;
  }
}

.ws-user-nav ul  {
  li a {
    padding:  1px 12px;
  }

  //li:last-child a { padding-right: 0px; }
}

#ws-head-mainrow {
  margin-top: 0;
  margin-bottom: 15px;
  @media (max-width: $screen-md) {margin-top: -24px; }
}
.badge {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  top: -1px;
}

.price {
  //font-size: 20px;
}
//-----------------------------
//  Search Styles
//-----------------------------

#search-bar {
  text-align: left;
  margin-top: 50px;
  z-index: 999;
  .btn.adjust-icon {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.4;
  }
  .form-group {
    width: 100%;
    margin-bottom: 0;
    input {
      top: 3px!important;
      //height: 33px;
    }
  }
  .dropdown-menu {
    top: -50px!important;
    text-align: left;
    .active {
      background: $gray-lighter;
    }
  }
  //@media (max-width: $screen-md) { padding-top: 41px; }
  > .show-search {
    font-size: 25px;
    line-height: 15px;
    margin-right: 15px;
    display: none;
  }
  @media (max-width: $grid-float-breakpoint) {
    float: left;
    padding-top: 0px;
  }
  @media (max-width: $screen-xxs-min) {
    float: right;
    padding-top: 7px;
    padding-left: 0;
    #searchbox { display:none; }
    .dropdown-menu {
      float: left;
      left: -216px;
      position: absolute;
      top: 0;
    }
    > .show-search {
      display: block;
    }
  }
  @media (max-width: $screen-xxxs-min) {
    padding-top: 10px;
    padding-right: 22px;
    margin-top: 5px;
  }
}

//-----------------------------
//  Basket Styles
//-----------------------------

#ws-cart {
  text-align: center;
  margin-top: 59px;
  @media (max-width: $screen-xxxs-min) {
  }


  @media (max-width: $grid-float-breakpoint) {
    padding-top: 19px;
    a.cart-info { float: right !important; }
    .dropdown-menu {
      position: relative;
      margin-top: 15px!important;
      padding-top: 15px!important;
    }
  }

  #link-to-cart {
    @media (max-width: $screen-md) {
      //padding-top: 47px;
      .basket-title { display: none; }
    }

    @media (max-width: $screen-xxs-min) {
      padding-top: 0px;
      a { margin-right: 15px!important; }
      .basket-title {
        display:none;
      }
    }

    a.cart-info {
      @include center-block();
      font-size: $font-size-large;
      font-family: $font-family-sans-serif-medium;
      .icon-basket {
        background: asset-url('ws-sprite.png');
        background-position: -175px -11px;
        width: 31px;
        height: 27px;
        position: relative;
        top: -8px;
        margin-right: 4px;
        display: inline-block;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        font-size: 14px;
        padding-left: 8px;
        &.size-2 { font-size: 12px; }
        &.size-3 { font-size: 10px; }
        &.size-4 {}
      }
      span {
        z-index: $zindex-tooltip;
        position: relative;
      }
      .basket-size {
        position: relative;
      }
    }
  }


  #minicart {
    margin-top: -45px;
    padding-top: 60px;
    @media (max-width: $screen-xs-max) {
      width: 100%
    }
    @media (min-width: $screen-md-min) {
      min-width: 245px;
    }
    @media (min-width: $screen-lg-min) {
      min-width: 293px;
    }
    #minicart-details {
      .order-total {
        font-size: $font-size-large;
        display:block;
      }
      div {
        text-align: left;
      }
    }
    #minicart-items {
      list-style: none outside none;
      padding-left: 0;
      padding-bottom: 0;
      margin-bottom: 0;
      width: 100%;
      .ws-cart-item:first-child {
        border-top: 1px dotted $gray-lighter;
      }
      .ws-cart-item {
        border-bottom: 1px dotted $gray-lighter;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align:left;
        margin-bottom: 10px;
        .ws-cart-image { margin-right: 10px; }
        .ws-cart-title { display: block; }
        .ws-cart-amount { display: block; font-size: 12px; }
        .ws-cart-remove {
          @extend .pull-right;
          margin-top: -20px;
          color: $gray-light;
          padding: 0;
          clear: none;
        }

        a {
          color: #333;
        }
      }
    }


    #minicart-footer {
      margin-bottom: -21px;
      padding-bottom: 33px;
      span {
        display: block;
        background: asset-url('ws-sprite.png');
        height: 10px;
        width: 100%;
        position: absolute;
        margin: 15px 0px 0px -15px;
      }
    }
  }
}


#ws-social {
  @extend .pull-right;
  margin-top: -16px;
  li {
    background: asset-url('ws-sprite.png');
    width: 36px;
    height: 36px;
    @include hide-text();
    margin-right: 5px;
  }
  .ws-facebook {background-position: 0 -11px; }
  .ws-twitter {background-position: -40px -11px; }
  .ws-feed {background-position: -80px -11px; }

}

//-----------------------------
//  Footer Styles
//-----------------------------

.ws-footer {
  padding-bottom: 25px;
  margin-top: 25px;
  background: #ede4da;
  border-top: $navbar-height solid $navbar-inverse-bg;
  a {
    color: $navbar-inverse-bg;
  }

  .ws-footer-toprow {
    margin-top: -41px;
    color: $navbar-inverse-link-color;
  }
  .ws-footer-mainrow {
    margin-top: 25px;
    h3 {
      margin-bottom: 25px;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        padding-left: 25px;
        margin-bottom: 8px;
        span {
          margin-left: -28px;
          float: left;
        }
      }
    }
  }

  .ws-font-catch {
    font-size: 20px;
    @media (max-width: $screen-md-min) {
      font-size: 16px;
    }
    span {
      font-size: 24px;
      font-family: MetaMedium;
      @media (max-width: $screen-md-min) {
        font-size: 20px;
      }
    }
  }
}
//-----------------------------
//  Service-List Styles
//-----------------------------

.ws-service-list-group {
  padding-bottom: 18px;

  .list-group-item {
    border-width: 0 0 2px 0;
    padding: 28px 15px;
    @media (max-width: $screen-lg-min) {
      padding: 14px 15px;
    }
    background: none;
  }

  .list-group-item:last-child { border: none; }

  i {
    margin-top: 10px;
    font-size: 45px;
    color: $brand-primary;
  }

  @media (max-width: $screen-lg-min) {
    .list-group-item-heading {
      font-size: 15px;
    }
    i {
      font-size: 35px;
    }
  }

}


//-----------------------------
//  Megadrop Styles
//-----------------------------

.megadrop {

  .ws-megadrop-content {
    padding: 0 25px 15px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        line-height: 1.8em;
        color: $gray-light;
      }
    }
  }

  .ws-navbar-heading {
    text-transform: uppercase;
    font-family: MetaBold;
    font-size: 15px;
    display: block;
    margin: 20px 0 10px;
  }

  // reset positions
  .nav, .collapse, .dropup, .dropdown {
    position: static;
  }

  // propagate menu position under container for fw navbars
  .container {
    position: relative;
  }

  // by default aligns menu to left
  .dropdown-menu {
    left: auto;
    border-top: none;
  }
  // ensure a good position
  .nav.navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }

  // Content with padding
  .megadrop-content {
    padding: 20px 30px;
  }

  // Fullwidth menu
  .dropdown.megadrop-fw .dropdown-menu {
    left: 0; right: 0;
    @include box-shadow(0 3px 12px rgba(0,0,0,.175));
    padding-top: 0;
  }

}

//-----------------------------
//  Product Block Styles
//-----------------------------

.ws-product {
  background-color: $foreground;
  @include box-shadow(0 2px 3px rgba(0,0,0,.175));
  @include border-bottom-radius(3px);

  .product_main {
    padding-bottom: 10px;
    min-height: 153px;
    a { text-decoration: none; }
    .category, .manufacturer {
      font-size: $font-size-small;
      color: #333;
    }

    .name {
      display: block;
      color: #333
    }

    .price {
    }
  }

  .product_footer {
    background-color: rgb(245, 245, 245);
    padding-top: 12px;
    border-top: 1px solid rgb(235, 235, 235);
  }

  margin-bottom: 35px;
  h3 {
    @media (max-width: $screen-lg-min) { font-size: $font-size-h4; }
    @media (max-width: $screen-md-min) { font-size: $font-size-h3; }

  }
  .description {

  }
  hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .test {
    height: 95px;
    overflow: hidden;
  }
  .availability {
    margin-bottom: 10px;
    span {
      margin-right: 8px;
    }
  }

  .rating {
    text-align: right;
    color: $gray-light;
    @media (max-width: $screen-lg-min) {
      font-size: 12px;
    }
  }

  .image {
    height: 230px;
    overflow: hidden;
    position: relative;
    .arrow {
      @include cssTriangle(12px, #fff, bottom);
      position: absolute;
      bottom: 0;
      left: 10%;
    }
    @include border-top-radius(3px);
    img {
      width: 100%;
      @media (max-width: $screen-lg-min) { width: 125%; }
    }
  }
}

.rating {
  a {
    text-decoration: none;
    color: $gray-light;
  }
  .ratings-basedupon {
    margin-left: 10px;
    text-decoration: underline;
  }
}

#wishlist-form {
  margin-top: 0!important;
  padding-left: 5px;
}

#additionals {
  .col-md-4 {
    padding-right: 0;
    padding-left: 5px;
  }
  .col-md-4:first-child {
    padding-left: 15px;
  }
  #wishlist-form {
    padding-right: 15px;
  }
}


.rating {
  color: $gray-light;
}

.brand-wrapper {
  width: 100px;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
}

h1.product-title {
  margin-top: 0;
}

.ratings-stars, .ratings-basedupon {
  display: inline-block;
}

.unit.price {
  font-size: $font-size-h1;
  .per-unit {
    font-size: 16px;
  }
}

.lead.price {
  font-size: $font-size-base;
}

.vat-and-shipping {
  font-size: $font-size-small;
  color: $gray-light;
}

.availability .available {
  color: $brand-success;
}

#product-details {
  #thumbnails {
    margin-top: 10px;
  }
}

//-----------------------------
//  Popover
//-----------------------------

.popover-title {
  margin: 0; // reset heading margin
  padding: 14px 14px 8px 14px;
  @media (max-width: $screen-lg-min) {
     padding: 8px 14px 5px 14px;
  }
  background-color: rgba(255,255,255,0.4);
  border-radius: 5px 5px 0 0;
  font-family: $font-family-sans-serif-medium;
}

//-----------------------------
//  Alerts
//-----------------------------
.alert-error, .alert-registration_error { @extend .alert-danger; }
.alert-alert { @extend .alert-info; }
.alert-notice { @extend .alert-success; }


//-----------------------------
//  Spree Styles
//-----------------------------


//-----------------------------
//  Icon List
//-----------------------------
.icon-list.plus li:before {
  content: "";
}
.icon-list li:before {
  font-family: "Glyphicons Halflings";
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 80%;
}
.icon-list li {
  padding: 0px 0px 5px 20px;
  display: block;
  position: relative;
}



.payment-methods {
  .pf {
    font-size: 33px;
  }
  &.symbol {
    .vorkasse {
      width: 76px;
      float: left;
      padding-left: 10px;
      padding-top: 5px;
      font-family: $font-family-sans-serif-medium;
    }
  }
}

//-----------------------------
//  Checkout
//-----------------------------
#checkout {
  #payment {
    .list-group.col-md-3 {
      .list-group-item:first-child { border-top-left-radius: 0; }
      .list-group-item:last-child { border-bottom-left-radius: 0; }
      .list-group-item { border-left: 0; }
    }
  }
  #sidebar {
    margin-top: 65px;
    h2 {
      font-size: 100%;
      margin-top: 2px;
    }
  }
  #registration {
    .panel { min-height: 339px; }
    .panel-heading {}
  }
  .well {
    @include box-shadow(none);
    padding: 15px;
  }
  #checkout-header {
    margin-bottom: 25px;
  }
}

#errorExplanation {
  h3 { margin-top: 0; }
}

//-----------------------------
//  Cart
//-----------------------------
#cart {
  .line-item-options a {
    color: $gray-light;
  }
  #sidebar {
    .list-group-item-heading {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    ul {

    }
    margin-top: 8px;
  }
  #cart-detail {
    margin-top: 15px;
  }
  #subtotal {
    margin-bottom: 15px;
    & > div {
      padding: 2px 10px;
      background: $navbar-inverse-bg;
      color: #fff;
      .lead {
        color: #fff;
      }
    }
  }

  h1 { margin-top: 10px; }
  .line-item-description {
    color: $gray-light;
  }
  .cart-item-description {
    h4 {
      margin-top: 0px;
      margin-bottom: 5px;
      a {
        color: #000;
        font-size: 14px;
      }
    }
  }
}

//-----------------------------
//  Breadcrumbs
//-----------------------------
.breadcrumb {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 15px;
  li a {
    color: #000;
    text-decoration: underline;
  }
}

//-----------------------------
//  PDS
//-----------------------------
h1.product-title {
  //font-size: 20px;
  small {
    display: block;
    font-size: $font-size-small;
    padding-left: 3px;
  }
}

#ws-accessories {
  a { color: #333; }
  .frame {
    height: 160px;
    padding: 0;
    ul {
      margin: 0;
      padding: 0;
      height: 100%;
      list-style: none;
      li {
        float: left;
        margin: 0 5px 0 0;
        padding: 0;
        width: 113px;
        height: 100%;
        img {
          display: block;
        }
      }
    }
  }
  .prev, .next { position: absolute; top: 50%; }
  .prev { left: 0; }
  .next { right: 0; }
}

.btn-separator:after {
  content: " ";
  background: #E05913;
  margin: -11px 0 -16px;
  height: 43px;
  width: 1px;
  display: inline-block;
}

#add-to-cart-button {
  margin: 8px 0 0 0;
  .btn-left, .btn-right {
    text-align: center;
    display: inline-block;
  }
  .btn-left { width: 60%; }
  .btn-right { width: 30%; }
}

.add-to-cart {
  margin: 16px 0 0 0;
  .availability {
    margin: 32px 0 0 0;
  }
}

#taxon-crumbs {
  .list-group-item {
    background: none;
  }
  margin-top: 15px;
  a {
    color: #333;
  }
}

#sidebar {
  div#taxonomies {
    h1 {
      margin-top: 15px;
      margin-bottom: 0;
    }
    .show-all-taxons {
      font-size: 12px;
      padding-top: 4px;
      text-decoration: underline;
      color: #000;
    }
    margin-bottom: 25px;
  }

}

#product-images{
  text-align: center;
}

#product-thumbnails {
  .thumbnail { margin-bottom: 0; }
}

#product-variants, #product-sample {
  div.radio, div.checkbox {
    margin: 0;
  }
}

#product-sample {
  margin-top: 15px;
  ul {
    margin-bottom: 0;
  }
}

#new_request_quote_request {
  .product.row { margin-bottom: 20px; }
}

.fancybox-skin {
  .fancybox-close {
    top: 6px;
    right: 5px;
  }
  .fancybox-inner {
    .modal-header {
      padding: 5px 15px;
      background: $gray-lighter;
      @include border-top-radius(5px)
    }
    .modal-footer {
      padding: 15px 20px
    }
  }
}