<div class="checkbox login_newsletter_subscribe">
  <%= f.label :is_mail_list_subscriber do %>
    <%= f.check_box :is_mail_list_subscriber, :class => 'title' %>
      <%= Spree.t(:do_subscribe_to_our_mailing_list) %>
  <% end %>
</div>
