<table class="row footer">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td align="center">
            <center>
              <p style="text-align:center;">
                <%= link_to 'AGB', 'http://meinwohnstore.de/agb' %> | <%= link_to 'Datenschutz', 'http://meinwohnstore.de//datenschutz' %> | <%= link_to 'Impressum', 'http://meinwohnstore.de//impressum' %> | <%= link_to 'Widerrufsbelehrung', 'http://meinwohnstore.de//widerrufsbelehrung' %>
              </p>
            </center>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>