<% unless @products.empty? %>
    <% #TODO: REFACTOR WHOLE PARTIAL TO HELPER AND SUBPARTIALS e.g. slider iconliststs and normal list
       #MAYBE PARTE FACETS/AGGS BEFOR STARTING HERE INTO OBJECTS........     ....... %>
    <h4>Nach Eigenschaften filtern</h4>

    <div class="properties panel panel-default preis">
      <p class="panel-heading">Preis<%= '/m²' if Spree::Product.find_by_id(@products.first.id).is_flooring? %>

      <div class="list-group">
        <div class="list-group-item">
          <%= form_tag do %>
              <% from = @searcher.prices.index params[:preis_von].to_f %>
              <% to = @searcher.prices.index params[:preis_bis].to_f %>
              <%= text_field_tag 'price-range', '', data: {
                                                      from: from,
                                                      to: to,
                                                      values: @searcher.prices.join(','),
                                                      prefix: '',
                                                      type: 'double',
                                                      postfix: Money::Currency.new(Spree::Config[:currency]).symbol}
              %>
          <% end %>
        </div>
      </div>
    </div>
  <%= render partial: 'spree/shared/attribute_filters' if @taxon.name.in? Spree::Config.show_facets_in %>
<% end %>