<% unless @products.empty? %>
  <h4>Nach Eigenschaften filtern</h4>

  <div class="properties panel panel-default">
    <p class="panel-heading">Preis <%#= link_to 'All Authors &rarr;'.html_safe, search_path(params.merge(a: nil))%></p>
    <div class="list-group">
     <%= @products.results.response.response['aggregations']['price_stats'].inspect %>
    </div>
  </div>

  <% @searcher.aggregations['properties'].each do |p| %>
    <% next if p.last.length <= 1 %>
  <div class="properties panel panel-default">
    <p class="panel-heading"><%= p.first %><%#= link_to 'All Authors &rarr;'.html_safe, search_path(params.merge(a: nil))%></p>
    <div class="list-group">
        <% p.last.each do |v| %>
         <% v[:value] ||= 'keine Angabe' %>
        <%=
            link_to product_path(params.merge(v[:key] => v[:value])),
                    class: "list-group-item#{' active' if params[v[:key]] == v[:value]}" do
              v[:value].titleize.html_safe + content_tag(:small, v[:count], class: 'badge').html_safe
            end
        %>
      <% end %>
    </div>
  </div>
  <% end %>
  <%#= form_tag '', :method => :get, :id => 'sidebar_products_search' do %>
    <%# params[:search] ||= {} %>
    <%#= hidden_field_tag 'per_page', params[:per_page] %>
    <%#= hidden_field_tag 'keywords', params[:keywords] if params[:keywords]%>
    <%# facets = get_facets %>
    <%#= render :partial => 'spree/shared/filter_price', :locals => { :facet => facets[:price] } %>
    <%#= render :partial => 'spree/shared/filter_properties', :locals => { :facets => facets[:properties] } if @taxon %>
    <%#= submit_tag Spree.t(:search), :name => nil %>
  <%# end %>
<% end %>