<div id="spree-footer">
<footer id="footer" class="ws-footer" data-hook>
  <div class="container">
    <div class="row ws-footer-toprow">
      <div id="footer-left" class="col-xs-9" data-hook>
        <span class="ws-font-catch">Fragen? Rufen Sie unsere WohnStore-Profis an: <span>0 41 31 / 927 968 6</span></span>
      </div>
    </div>

    <div class="row ws-footer-mainrow">
      <% unless @body_id == 'checkout' %>
      <div id="footer-first" class="col-sm-3" data-hook>
        <h3>Service</h3>
      </div>
      <% end %>
      <div id="footer-second" class="<%= @body_id == 'checkout' ? 'col-sm-6' : 'col-sm-3' %>" data-hook>
        <% unless @body_id == 'checkout' %><h3>meinWohnStore</h3><% end %>
      </div>
      <% unless @body_id == 'checkout' %>
      <div id="footer-third" class="col-sm-3" data-hook>
        <h3>Zahlungsarten</h3>
        <% cache([I18n.locale, cache_key_for_payment_methods]) do %>
          <%= payment_methods type: :bullet_icon %>
        <% end %>
      </div>
      <div id="footer-fourth" class="col-sm-3" data-hook>
      </div>
      <% end %>
    </div>
  </div>
</footer>
</div>