<div id="spree-footer">
<footer id="footer" class="ws-footer" data-hook>
  <div class="container">
    <div class="row ws-footer-toprow">
      <div id="footer-left" class="col-xs-9" data-hook>
        <span class="ws-font-catch">Fragen? Rufen Sie unsere WohnStore-Profis an: <span>0 41 31 / 927 968 6</span></span>
      </div>
    </div>
  </div>
</footer>
</div>