<div id="spree-header">

  <header id="header" data-hook>
    <div class="container">

      <div id="ws-head-mainrow" class="row">
        <div id="logo" class="col-sm-4 col-md-3" data-hook>
          <%= logo %>
        </div>
      </div>

      <%#= render :partial => 'spree/shared/nav_bar' %>
      <div id="ws-head-navrow">
        <nav class="navbar navbar-inverse megadrop collapse navbar-collapse bs-navbar-collapse">
          <div id="main-nav-bar">
          </div>
        </nav>
      </div>

    </div>
  </header>
</div>