<nav class="navbar navbar-inverse megadrop collapse navbar-collapse bs-navbar-collapse">
  <div id="main-nav-bar">
    <ul class="nav navbar-nav" data-hook>
      <!--li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>-->
      <% get_categories({not: %w(Angebote Sale)}).each do |category| %>
          <%= nav_link(category.name , seo_url(category)) %></li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right ws-angebote hidden">
      <li class="dropdown megadrop-fw">
        <a href="../about" class="dropdown-toggle" data-hover="dropdown">Angebote</a>
      </li>
    </ul>
  </div>
</nav>