<ul class="ws-service-list list-inline hidden-xs col-sm-8">
  <li>
    <i class="glyphicon glyphicon-envelope"></i>Kostenloser Versand
  </li>
  <li>
    <i class="glyphicon glyphicon-earphone"></i>Beratung
  </li>
  <li>
    <i class="glyphicon glyphicon-sampler"></i>Musterservice
  </li>
  <% if Spree::PaymentMethod.where(name: 'Rechnung', active: true).present? %>
  <li>
    <i class="glyphicon glyphicon-notes"></i>Kauf auf Rechnung
  </li>
  <% end %>
</ul>