<div class="ws-services hidden-xs col-md-8">
  <ul class="ws-service-list list-inline">
    <li>
      <i class="glyphicon glyphicon-envelope"></i>Versandkostenfrei
    </li>
    <li>
      <i class="glyphicon glyphicon-earphone"></i>Telefonische Beratung
    </li>
    <li>
      <i class="glyphicon glyphicon-sampler"></i>Musterversand
    </li>
    <li>
      <i class="glyphicon glyphicon-notes"></i>Kauf auf Rechnung
    </li>
  </ul>
</div>