<div id="ws-start-carousel" class="carousel slide" data-ride="carousel">
  <div class="ws-carousel-slides">
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://placehold.it/853x350">

        <div class="ws-indicator">
          <div class="ws-indicator-spot"
               data-toggle="popover"
               data-content="
                   <p>Laminat Deluxe Eastside 32LD 9713 Eiche arctic</p>
                   <span class='price'>22,97€</span>
                   <div class='rating pull-right'>
                    <span class='glyphicon glyphicon-yellow glyphicon-star'></span>
                    <span class='glyphicon glyphicon-yellow glyphicon-star'></span>
                    <span class='glyphicon glyphicon-yellow glyphicon-star'></span>
                    <span class='glyphicon glyphicon-star'></span>
                    <span class='glyphicon glyphicon-star'></span>
                  </div>"
               data-original-title="<a href='/'>JOKA Parkett - 9713 Eiche arctic...</a>"
               data-container="body"
               data-html="true">
            <span class="glyphicon glyphicon-plus"></span>
          </div>

        </div>

      </div>
      <div class="item">
        <img src="http://placehold.it/853x350">
        <div class="ws-indicator">
          <div class="ws-indicator-spot" data-toggle="popover"
               data-content="Laminat Deluxe Eastside 32LD 9713 Eiche arctic 22,97€"
               data-original-title="JOKA Parkett - 9713 Eiche arctic...">
            <span class="glyphicon glyphicon-plus"></span>
          </div>

        </div>
      </div>
      <div class="item">
        <img src="http://placehold.it/853x350">
        <div class="ws-indicator">
          <div class="ws-indicator-spot" data-toggle="popover"
               data-content="Laminat Deluxe Eastside 32LD 9713 Eiche arctic 22,97€"
               data-original-title="JOKA Parkett - 9713 Eiche arctic...">
            <span class="glyphicon glyphicon-plus"></span>
          </div>

        </div>
      </div>
      <div class="item">
        <img src="http://placehold.it/853x350">
        <div class="ws-indicator">
          <div class="ws-indicator-spot" data-toggle="popover"
               data-content="Laminat Deluxe Eastside 32LD 9713 Eiche arctic 22,97€"
               data-original-title="JOKA Parkett - 9713 Eiche arctic...">
            <span class="glyphicon glyphicon-plus"></span>
          </div>

        </div>
      </div>
      <div class="item">
        <img src="http://placehold.it/853x350">
        <div class="ws-indicator">
          <div class="ws-indicator-spot" data-toggle="popover"
               data-content="Laminat Deluxe Eastside 32LD 9713 Eiche arctic 22,97€"
               data-original-title="JOKA Parkett - 9713 Eiche arctic...">
            <span class="glyphicon glyphicon-plus"></span>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#ws-start-carousel" data-slide="prev"><span></span></a>
  <a class="right carousel-control" href="#ws-start-carousel" data-slide="next"><span></span></a>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#ws-start-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#ws-start-carousel" data-slide-to="1"></li>
    <li data-target="#ws-start-carousel" data-slide-to="2"></li>
    <li data-target="#ws-start-carousel" data-slide-to="3"></li>
    <li data-target="#ws-start-carousel" data-slide-to="4"></li>
  </ol>
</div>