<div class="ws-service-list-vertical hidden-print">
  <div class="list-group ws-service-list-group">
    <a href="#" class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <i class="glyphicon glyphicon-sampler"></i>
        </div>
        <div class="col-md-9">
          <h4 class="list-group-item-heading">Kostenlose Muster</h4>
          <p class="list-group-item-text">Vergleichen Sie bis zu 10 Muster Zuhause</p>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <i class="glyphicon glyphicon-calculator"></i>
        </div>
        <div class="col-md-9">
          <h4 class="list-group-item-heading">Bedarfsrechner</h4>
          <p class="list-group-item-text">Berechnen Sie Ihren Bedarf an Boden und Zubehör </p>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <i class="glyphicon glyphicon-earphone"></i>
        </div>
        <div class="col-md-9">
          <h4 class="list-group-item-heading">Beratung vom Profi</h4>
          <p class="list-group-item-text">Telefon, Online-Chat oder per E-Mail</p>
        </div>
      </div>
    </a>
    <!--<a href="#" class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <i class="glyphicon glyphicon-rotation_lock"></i>
        </div>
        <div class="col-md-9">
          <h4 class="list-group-item-heading">Sicherheit</h4>
          <p class="list-group-item-text">Verschlüsselte Verbindung und hoher Datenschutz</p>
        </div>
      </div>
    </a>-->
  </div>
</div>