<%# content_for :sidebar do %>

    <!--<div data-hook="homepage_sidebar_navigation">-->
      <%#= render :partial => 'spree/shared/taxonomies' %>
    <!--</div>-->
<%# end %>

<% content_for :first_row do %>
    <%= render :partial => 'spree/home/first_row' %>
<% end %>

<div id="featured_products" data-hook="homepage_products">
  <h4>Empfohlene Produkte</h4>
  <%= render :partial => 'spree/shared/products', :locals => { :products => @featured_products } %>
</div>

